*{
    margin: auto;
    padding: 0;
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
body{
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
.todo{
    width: 400px;
}
.ipt{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.ipt input{
    padding: 10px;
    font-size: 18px;
    outline: none;
    background-color: rgb(240,240,240);
    border:none;
    box-shadow: inset 1px 2px 2px gray;
}
.sbtn{
    background-color: yellow;
    padding: 10px;
    width: 80px;
    text-align: center;
    border-radius: 5px;
    cursor: pointer;
    font-weight: bold;
    box-shadow: 1px 2px 2px gray;
}
.sbtn:hover{
    box-shadow: inset 1px 2px 2px gray;
}
.list-main{
    margin-top: 60px;
    border-radius: 5px;
    overflow: hidden;
}
.list-main h4{
    text-align: center;
    padding: 10px;
    width: 400px;
    background-color: yellow;
    font-size: 20px;
}
.list-main ul{
    background-color: rgb(266,266,266);
    box-shadow: inset 2px 2px 2px gray, inset -19px -2px -2px gray;
    min-height: auto;
    max-height: 250px;
    overflow-y: scroll;
}

